/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

/* Typography */

html {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	font-style: normal;
}
h1 {
	margin-bottom: .75rem;
}

p {
	margin-bottom: 1.5rem;
}

/* Interactive elements */
a:link {
	color: black;
}
a:visited {
	color: #555555;
}

a:hover {
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
}

a:focus {
	text-decoration: none;
	outline-color: #000000;
}

a:active {
	background-color: #cccccc;
}

a.skip {
	display: inline-block;
}

a.skip:focus {

}


nav a {
	text-decoration: none;
	padding: .5rem 1rem;
	border: .125rem #000000 solid;
	display: block;
}
nav a:link, nav a:visited { 
	color: #ffffff;
}

nav a:focus{
	border: .125rem #ffffff dashed;
	outline: none;
}

nav a:hover {
	color: #000000;
	background-color: #ffffff;
}

nav a:active {
	border: .125rem #ffffff solid;
	background-color: #cccccc;
	color: #000000;
}

/* LAYOUT */

main, header, footer {
	max-width: 42rem;
	margin: 0 auto;
}

main, footer{
	padding: 0 2rem;

}

header p {
	margin-bottom: 1rem;
	padding-left: 2rem;
	font-style: italic;
}

header {
	margin-bottom: 1.5rem;
	margin-top: 1rem;
}

nav {
	background-color: #000000;
}

nav ul {
	list-style-type: none; /* removes bullet points */
}

@media screen and (min-width: 38rem){
	/* TYPOGRPHY */
	header p {
		color: #ffffff;
		padding-top: .5rem;
		margin-bottom: 0;
	}	

	/* LAYOUT */
	header{
		background-color: #000000;
		margin-top: 0;
	}


}