
.stages {
  display: flex;
  justify-content: space-evenly;
  align-content: stretch;
  list-style-type: none;
  margin: 0;
  gap: 1rem;
  flex-wrap: wrap;
}
.stages img {
  width: 100%;
  display: block;
  min-width: 2rem;
}
li {
  width: 40%;
}